.notification {
    position: fixed;
    top: 20px; /* Отступ от верхнего края */
    right: 20px; /* Отступ от правого края */
    background-color: #4CAF50; /* Зеленый цвет для успеха */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 1000; /* Чтобы уведомление было поверх всего */
}

.notification.error {
    background-color: #f44336; /* Красный цвет для ошибки */
}

.notification.show {
    opacity: 1;
    visibility: visible;
}
