/* Общие стили (тёмно-зелёная гамма) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #d0d0d0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Контент располагается вертикально */
  align-items: center; /* Располагает элементы по центру горизонтально */
  text-align: center; /* Текст тоже центрируется */
}

#profile-info {
  margin-bottom: 20px; /* Отступ между секциями */
}

/* Стили для кнопок (например, для выхода) */
.button {
  display: inline-block; /* Позволяет задавать width/height и margin/padding */
  background-color: #379237; /* более насыщенный тёмно-зелёный */  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto; /* Автоматическая ширина */
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  border-radius: 5px;
}

.button:hover {
  opacity: 0.8;
}

.logo-link {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.logo {
  width: 150px;
  height: auto;
}

/* Футер */
.footer {
    background-color: #164016; /* тёмный зелёный */
    color: #eee;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Учитываем padding в ширине */
    /* position: static; - футер теперь находится в потоке */
}
