<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<title>О нас</title>
    <!-- Подключение внешнего CSS -->
<link rel="stylesheet" href="/static/css/about_style.css" />
</head>
<body>

<!-- Логотип в левом верхнем -->
<a href="/" class="logo-link">
  <img src="static/images/main-logo.png" alt="Логотип" class="logo" />
</a>

<!-- Основной контент -->
<div class="button-section">
    <button onclick="location.href='/choose_tour'">Подобрать тур</button>
    <button onclick="location.href='/contacts'">Контакты</button>
    <button onclick="location.href='/reviews'">Отзывы</button>
</div>

<!-- Футер -->
<div class="footer">
    © Aryan Tours. Все права защищены.
</div>

</body>
</html>