<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подобрать тур</title>
    <link rel="stylesheet" href="/static/css/choose-tour_style.css">
    <link rel="stylesheet" href="/static/css/application_form.css">
    <link rel="stylesheet" href="/static/css/notification.css">
</head>
<body>
    <a href="/" class="logo-link">
        <img src="/static/images/main-logo.png" alt="Логотип" class="logo" />
    </a>
    <div class="catalog-title">КАТАЛОГ ТУРОВ</div>
    <div class="catalog_info-title">Планируйте свой идеальный маршрут<br>с нашими рекомендациями</div>

    <button id="openApplicationFormBtn" class="application-button">
        Оставить заявку
        <img src="/static/images/arrow.png" alt="arrow" class="button-icon">
    </button>

     <!-- Форма заявки -->
    <div id="applicationForm" class="application-form">
        <div class="form-content">
            <span id="closeApplicationFormBtn" class="close-button">×</span>
            <form action="/submit_application" method="post">
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" required>
                    <div class="error-message" id="name-error"></div>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                     <div class="error-message" id="email-error"></div>
                </div>

                <div class="form-group">
                    <label for="phone">Номер телефона:</label>
                    <input type="tel" id="phone" name="phone" required>
                     <div class="error-message" id="phone-error"></div>
                </div>

                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <div id="overlay" class="overlay"></div>

    <div class="button-section">
        <button onclick="location.href='/about'">О нас</button>
        <button onclick="location.href='/contacts'">Контакты</button>
        <button onclick="location.href='/reviews'">Отзывы</button>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="footer">
        © Aryan Tours. Все права защищены.
    </div>
    <script src="/static/js/application_form.js"></script>
</body>
</html>
