<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/css/contacts_style.css" />
</head>
<body>

    <!-- Логотип -->
    <a href="/" class="logo-link">
        <img src="/static/images/aryan-main-logo.png" alt="Логотип" class="logo" />
    </a>

    <!-- Кнопка Профиль -->
    <div class="top-right-container">
        <a href="http://localhost:5002/profile" class="profile-button">
            <img src="static/images/profile-icon.png" alt="Профиль" class="profile-image" />
        </a>
    </div>

    <div class="content">
        <!-- Секция с кнопками -->
        <div class="top-buttons-container">
            <button onclick="location.href='/choose_tour'">Подобрать тур</button>
            <button onclick="location.href='/about'">О нас</button>
            <button onclick="location.href='http://localhost:5001/reviews'">Отзывы</button>
        </div>

        <!-- Секция контактов -->
        <div class="contacts-section">
            <div class="contact-item">
                <a href="mailto:aryan_tours@gmail.com" class="contact-link-image">
                    <img src="/static/images/email-icon.png" alt="Email" class="contact-icon" />
                </a>
                <a href="mailto:aryan_tours@gmail.com" class="contact-link-text">aryan_tours@gmail.com</a>
            </div>
            <div class="contact-item">
                <a href="https://t.me/aryan_tours" class="contact-link-image" target="_blank">
                    <img src="/static/images/telegram-icon.png" alt="Telegram" class="contact-icon" />
                </a>
                <a href="https://t.me/aryan_tours" class="contact-link-text" target="_blank">@aryan_tours</a>
            </div>
            <div class="contact-item">
                <a href="https://vk.com/aryan_tours" class="contact-link-image" target="_blank">
                    <img src="/static/images/vk-icon.png" alt="VK" class="contact-icon" />
                </a>
                <a href="https://vk.com/aryan_tours" class="contact-link-text" target="_blank">Наш VK</a>
            </div>
        </div>
    </div>

    <!-- Футер -->
    <div class="footer">
        © Aryan Tours. Все права защищены.
    </div>

</body>
</html>
