<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Республика Карелия</title>
    <!-- Подключение внешнего CSS -->
<link rel="stylesheet" href="/static/css/country_style.css" />
</head>
<body>

<!-- Логотип в левом верхнем -->
<a href="/" class="logo-link">
  <img src="static/images/main-logo.png" alt="Логотип" class="logo" />
</a>

<!-- Основной контент -->
<div class="button-section">

</div>

<!-- Футер -->
<div class="footer">
    © Aryan Tours. Все права защищены.
</div>
</body>
</html>