<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/css/login-register_style.css" />
</head>
<body>

<!-- Видеофон -->
<video autoplay muted loop id="background-video">
    <source src="static/video/background-video.mp4" type="video/mp4">
</video>

<!-- Логотип -->
<a href="http://localhost:5000/" class="logo-link">
    <img src="static/images/aryan-main-logo.png" alt="Логотип" class="logo" />
</a>

<!-- Контейнер для формы -->
<div class="form-container">
    <form method="post" action="/login">
        <h2>Вход</h2>
        <input type="text" name="username" placeholder="Логин"><br>
        <input type="password" name="password" placeholder="Пароль"><br>
        <button type="submit">Войти</button>
        <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
    </form>
</div>

<!-- Футер -->
<div class="footer">
    © Aryan Tours. Все права защищены.
</div>

</body>
</html>
