<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

<!-- Логотип -->
<a href="/" class="logo-link">
    <img src="static/images/aryan-main-logo.png" alt="Логотип" class="logo" />
</a>

<!-- Кнопка Профиль -->
<div class="top-right-container">
    <a href="http://localhost:5002/profile" class="profile-button">
        <img src="static/images/profile-icon.png" alt="Профиль" class="profile-image" />
    </a>
</div>

<!-- Кнопки "О нас", "Контакты", "Отзывы" -->
<div class="top-buttons-container">
    <button onclick="location.href='/about'">О нас</button>
    <button onclick="location.href='/contacts'">Контакты</button>
    <button onclick="location.href='http://localhost:5001/reviews'">Отзывы</button>

</div>

<!-- Баннер -->
<div class="banner">

     <!-- Карусель стран -->
    <div class="country-section">
        <div class="carousel-wrapper">
            <!-- Заменили текстовые символы на img -->
            <button id="prevBtn" class="carousel-btn">
                <img src="static/images/arrow-left.png" alt="Назад" class="arrow-icon" />
            </button>
            <div class="carousel-container">
                <div class="cards-wrapper" id="cardsWrapper">
                    <a href="/finland" class="country-card">
                        <div class="card-wrapper">
                            <img src="static/images/finland-card.jpg" alt="Финляндия" />
                            <div class="country-name">Финляндия</div>
                        </div>
                    </a>
                    <a href="/sweden" class="country-card">
                        <div class="card-wrapper">
                            <img src="static/images/sweden-card.jpg" alt="Швеция" />
                            <div class="country-name">Швеция</div>
                        </div>
                    </a>
                    <a href="/norway" class="country-card">
                        <div class="card-wrapper">
                            <img src="static/images/norway-card.jpg" alt="Норвегия" />
                            <div class="country-name">Норвегия</div>
                        </div>
                    </a>
                    <a href="/karelia" class="country-card">
                        <div class="card-wrapper">
                            <img src="static/images/karelia-card.jpg" alt="Карелия" />
                            <div class="country-name">Карелия</div>
                        </div>
                    </a>
                    <a href="/germany" class="country-card">
                        <div class="card-wrapper">
                            <img src="static/images/germany-card.jpg" alt="Германия" />
                            <div class="country-name">Германия</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Заменили текстовые символы на img -->
            <button id="nextBtn" class="carousel-btn">
                <img src="static/images/arrow-right.png" alt="Вперед" class="arrow-icon" />
            </button>
        </div>
          <button class="banner-button" onclick="location.href='/choose_tour'">Подобрать тур</button>
    </div>

</div>

<!-- Футер -->
<div class="footer">
    © Aryan Tours. Все права защищены.
</div>

<script src="/static/js/carousel.js"></script>
</body>
</html>