<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="/static/css/profile_style.css" />
</head>
<body>
    <div class="page-container">
        <a href="http://localhost:5000/" class="logo-link">
            <img src="static/images/aryan-main-logo.png" alt="Логотип" class="logo" />
        </a>

        <div class="content">
            {% if is_admin %}
                <section id="admin-info">
                    <h1>Страница администратора</h1>
                    <p>Просмотр профиля недоступен для администратора.</p>
                </section>
            {% else %}
                <section id="profile-info">
                    <h1>Страница профиля</h1>
                    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                </section>
            {% endif %}

            <section id="user-actions">
                <a href="{{ url_for('logout') }}" class="button">Выйти</a>
            </section>
        </div>

        <footer class="footer">
            © Aryan Tours. Все права защищены.
        </footer>
    </div>
</body>
</html>