<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="/static/css/profile_style.css" />
</head>
<body>
    <div class="page-container">
        <a href="/" class="logo-link">
            <img src="static/images/aryan-main-logo.png" alt="Логотип" class="logo" />
        </a>

        <div class="content">
            <section id="profile-info">
                <h1>Страница профиля</h1>
                <p>Здесь будет информация о пользователе (имя, email и т.д.)</p>
            </section>

            <section id="user-actions">
                <a href="{{ url_for('logout') }}" class="button">Выйти</a>
            </section>
        </div>

        <footer class="footer">
            © Aryan Tours. Все права защищены.
        </footer>
    </div>
</body>
</html>
